.vendingMachine {
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
	background-color: blue;
}

.row {
	height: 200px;
	background-color: red;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: white;
	font-size: 100px;
	text-align: center;
}

.r0 {
	background-color: #1ABC9C;
}
.r1 {
	background-color: #2ECC71;
}
.r2 {
	background-color: #3498DB;
}
.r3 {
	background-color: #34495E;
}
.r4 {
	background-color: #16A085;
}
.r5 {
	background-color: #F1C40F;
}
.r6 {
	background-color: #2980B9;
}

.loginheading{
	background-color: #e74c3c;
}

.signup{
	background-color: #1ABC9C;
}

.login{
	background-color: #2ECC71;
}

.recover{
	background-color: #3498DB;
}

.loginbody{
	background-color: #9B59B6;
}

.username{
	background-color: #1ABC9C;
}

.passcode{
	background-color: #2ECC71;
}

.tap{
	background-color: #3498DB;
}

.back{
	background-color: #34495E;
}
